C:\Users\jawad khan\OneDrive\Desktop\OOP project\lab prepration\index.html
C:\Users\jawad khan\OneDrive\Desktop\OOP project\lab prepration\script.js
C:\Users\jawad khan\OneDrive\Desktop\OOP project\lab prepration\styles.css
